.contenedor{
    background-color: #4FDE69;
    width: 170px;
    height: 170px;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    font-size: 14px;
}

img{
    margin-top: 20px;
}

h3{
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
}
/* 
.contenedor:hover{
    border: solid rgba(0, 0, 0, 0.3) 1px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
} */