.boton_pedido_cont{
    width: 300px;
    height: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #DCDBDA;
    border: gainsboro solid 1px;
    border-radius: 20px;
    padding: 10px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right:25px ;
    gap: 5px;
    margin-bottom: 10px;
}

.boton_pedido_cont div {
    display: flex;
    justify-content: space-between;
}

h3, h5{
    margin: 0;
    font-weight: 500;
}


