.ver-pedido-sec{
    height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    place-items: center;
    border: none;
}

.ver-pedido-sec div{
    border-radius: 5px;
    width: 80%;
    background-color: #D9D9D9;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    display: grid;
    place-items: center;
}

.ver-pedido-div-uno{
    display: grid;
    place-items: center;
    grid-column: 1;
    width: 90%;
    height: 100%;
}
.ver-pedido-div-dos{
    grid-column: 2;
    width: 90%;
    height: 100%;
}
.ver-pedido-div-tres{
    grid-column: 3;
    width: 90%;
    height: 100%;
}
.ver-pedido-div-cuatro{
    grid-column: 4;
    width: 90%;
    height: 100%;
}