.fila-tomar-pedido-sec{
    display: grid;
    grid-template-columns: auto 2fr 30px 30px 1fr;
    height: 40px;
    justify-items: center;
    gap: 3px;
    text-align: center;
    font-weight: 500;
}

.fila-tomar-pedido-div-dos, .fila-tomar-pedido-div-tres, .fila-tomar-pedido-div-cuatro{
    
    display: grid;
    place-items: center;
    background-color: #D9D9D9;
    width: 90%;
    border-radius: 5px;

}

.fila-tomar-pedido-div-uno, .fila-tomar-pedido-div-cinco{
    display: grid;
    background-color: #ffffff;
    place-items: center;

}