.buscar-producto-section{
    width: 600px;
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
    place-items: center;
    border: solid 1px gainsboro;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    padding-left: 50px;
    padding-right: 50px;
    background-color: #F3F0F0;
}
h2{
    margin-top: 20px;
}

.input-buscar-producto{
    height: 15px;
    margin-top: -30px;
    width: 220px;
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: #D9D9D9;
    padding: 5px;
}

.busqueda-div{
    display: grid;
    margin-top: 30px;
    place-self: start center;
    gap:20px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #D9D9D9;
    max-height: calc(100% - 100px);
    overflow: auto;
     scrollbar-width: none;

}

.filas-productos{
    display: grid;
    width: auto;
    border: none;
    gap: 7px;
}

.title-buscar-producto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.title-buscar-producto button{
    justify-self: left;
    width: 30px;
    height: 30px;
    padding: 0;
    display: grid;
    place-items: center;
    border: none;
}

.title-buscar-producto img{
    margin: 0;
    width: 20px;
    height: 20px;
}