@media print {
  .div-comanda {
    width: 80mm;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
  }

  .sec-dos-imprimir{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .cabeceras{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center;
    width: 100%;
    font-weight: 600;
    text-align: center;
  }

  .articulos{
    display: flex;
    flex-direction: column;
  }

  .items-pedido{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    justify-self:center ;
  }

  .totales-pedido{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .name-prd-comanda{
    max-width: 75%;
    
  }

}
@media print {
  @page {
    margin: 0;
  }
}
