.gestion_sec{
    width: 600px;
    height: 500px;
    background-color: #F3F2F2;
    border: solid 1px gainsboro;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}