.caja{
    background-color: gray;
    width: 600px;
    height: 500px;
    border-radius: 10px;
    border: solid gainsboro 1px;
    background-color: #F3F2F2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}
.boton{
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.boton:hover{
    transform: scale(0.9); /* se retrae */
}