.sec{
    display: grid;
    justify-items: center;
    padding: 50px;
    height:350px;
    width:500px ;
    margin: 0 auto;
    border:solid gainsboro 1px;
    border-radius: 10px;
    background-color: #F3F2F2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding-bottom: 100px;
}

.sec h3{
    font-weight: 800;
    font-size: 22px;
}

img{
    
    width: 30%;
    height: auto;
}

.lbl{
    display: block;
    font-weight: 500;
    font-size: 14px;
}

.user-contain, .passw-contain{
    width: 55%;
    margin-top: 10px;
}

.user, .passw{
    width: 100%;
    height: 20px;
    border-radius: 20px;
    border: none;
    background-color: #DCDBDA;
    padding: 5px;
}

.iniciar{
    background-color: #043D0E;
    color: #FFFFFF;
    border: none;
    padding: 5px;
    width: 185px;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: 600;
}

