.sec {
    display: grid;
    justify-items: center;
    padding: 40px; 
    min-height: 400px; 
    width: 500px;
    margin: 40px auto;
    border: 1px solid gainsboro;
    border-radius: 10px;
    background-color: #F3F2F2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.sec h3 {
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 15px;
}

img {
    width: 30%;
    height: auto;
    margin-bottom: 15px;
}

.lbl {
    display: block;
    font-weight: 500;
    font-size: 14px;
    justify-self: start; 
    margin-bottom: 5px;
}

.user-contain,
.passw-contain {
    width: 70%; 
    margin-top: 15px;
}

.user,
.passw {
    width: 100%;
    height: 35px; 
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #DCDBDA;
    padding: 0 15px;
    box-sizing: border-box; 
}

.iniciar {
    background-color: #043D0E;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    margin-top: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}


@media (max-width: 768px) {
    .sec {
        margin-top: 20px;
        width: 90%; 
        max-width: 100%;
        height: auto; 
        padding: 30px 15px;
        background-color: #ffffff; 
        border: none;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .sec h3 {
        font-size: 28px; 
        margin-bottom: 20px;
    }

    img {
        width: 40%;
        margin-bottom: 20px;
    }

    .user-contain,
    .passw-contain {
        width: 90%; 
        margin-top: 20px;
    }

    .user,
    .passw {
        height: 50px; 
        font-size: 16px;
    }

    .lbl {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .iniciar {
        margin-top: 40px; 
        width: 80%;
        height: 55px;
        font-size: 20px;
        justify-self: center;
    }
    .contain-iniciar{
        width: 100%;
        display: grid;
    }
}