@media (max-width:768px) {
    


.pedido-mesera-sec{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-rows: auto 2fr;
    justify-items: center;
    align-self: start;
    box-sizing: border-box;
    padding: 10px;
}

.pedido-mesera-head{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 30px;

}


.pedido-mesera-pedidos{
    width: 100%;
    padding: 0 10px 0 10px;
    display: grid;
    justify-items: center;
    grid-template-rows: auto 1fr;
}


.title-pedido{
    justify-self: left;
    margin-bottom: 10px;
    margin-left: 15px;
}

.boton-nuevo-pedido{
    height: 40px;
    background-color: #047C1A;
    color: #ffffff;
    border: none;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: 600;
}

.boton-arrow{
    width: 40px;
    background-color: #ffffff;
    border: none;
    display: grid;
    place-items: center;
}

.boton-arrow img{
    margin-top: 0;
}


}