.pedidos_section{
    width: 600px;
    height: 500px;
    background-color: #F3F2F2;
    border-radius: 10px;
    display: grid;
    place-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.scroll_pedidos{
    height: 280px;
    overflow: auto;
    margin-bottom: 40px;
    border-radius: 10px;
     scrollbar-width: none;
}


h2{
    margin-top: 60px;
}

.div-head-pedidos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    width: 100%;
}

.div-head-pedidos button{
    grid-column: 1;
    justify-self: left;
    margin-left: 40px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: grid;
    place-items: center;
    border: none;
}

.div-head-pedidos img{
    margin: 0;
    width: 20px;
    height: 20px;
}

.div-head-pedidos h2{
    grid-column: 2;
}
