body{
    overflow: hidden;
}



.tomar-pedido-sec{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100dvh;  
    width: 90%;
    
}

.main{
    overflow-y: auto;
    flex: 1;
    padding-top: 10px;
    font-weight: 400;
}

.tomar-pedido-div-dos{
    margin-top: 70px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center left;
}

.tomar-pedido-div-cuatro{
    display: grid;
    place-items: center;
    margin-top: 70px;
}

.tomar-pedido-div-cuatro button{
    border: none;
    background-color: #047C1A;
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    border-radius:7px;
}

.numero-mesa{
    grid-row: 1;
    font-weight: 600;
}
.input-mesa{
    grid-row: 2;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #D3D2D2;
    border: none;
    padding: 5px;
}

.tomar-pedido-div-tres{
    margin-top: 40px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
}

.items-pedido{
    display: grid;
    gap: 10px;
}

.tomar-pedido-div-cinco{
    
    height: 150px;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.div-confirmar-pedido{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.button-confirmar-pedido{
    border: none;
    background-color: #047C1A;
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    border-radius:7px;
}

.button-anular-pedido{
    border: none;
    background-color: #7C0404;
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    border-radius:7px;
}

.tomar-pedido-boton-volver{
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: none;
    display: grid;
    place-items: center;
}

.tomar-pedido-boton-volver img{
    margin: 0;
}


.selector{
    position: fixed;
    height: 60%;
    max-height: 60%;
    width: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.4);
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    place-items: center;
    overflow: auto;
    overflow: hidden;
}

.resultados{
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    height: 65%;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 10px;
}
.resultado{
    font-size: 18px;
    text-align: left;
    height: 40px;
    font-weight: 500;
}

.input-selector{
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: #D3D2D2;
    height: 30px;
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
}

.boton-busqueda{
    width: 50%;
    font-weight: 500;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    background-color: #047C1A;
    color: #ffffff;
    padding: 8px;
}