.sec-ver-ventas{
    width: 600px;
    height: 500px;
    border-radius: 10px;
    border: solid gainsboro 1px;
    background-color: #F3F2F2;
    display: grid;
    grid-template-rows: auto auto 1fr auto ;
    place-items: center;
    box-shadow: 0 6px 10px rgba(0,0,0,0.4);
}

.div-fechas{
    display: flex;
    flex-direction: column;
}

.div-fechas label{
    font-weight: 500;
}

.contenedor-fechas{
    display: flex;
    gap: 40px;
    
}

.footer-ver-ventas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    place-items: center;
}

.boton-buscar{
    grid-column: 1/3;
    width: 150px;
    height: 30px;
    grid-row: 2;
    border: none;
    background-color: #047C1A;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.boton-buscar:hover{
    border: solid 1px #01590A;
    background-color: #01590A;
    box-shadow: 0 6px 10px rgba(0,0,0,0.6);
    font-weight: 700;
}

.total-cierre{
    grid-column: 2;
    margin-right: 50px;
    justify-self: left;
}

.pedidos-encontrados{
    overflow: auto;
    height: 200px;
    scrollbar-width: none;
    display: grid;
    
}

form{
    display: contents;
}

.inputs{
    border-radius: 5px;
    border: none;
    background-color: #D4D2D2;
    padding: 3px;
}
