:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root {
  height: 100%;
  display: grid;
  place-items: center;
}

body {
  height: 100%;
  width: 100%;

}



html {
  margin: 0;
  height: 100%;
  width: 100%;
}

@media (min-width: 1024px) {
  #root::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("./assets/imagenArtesanosPizzas.png");
    background-repeat: repeat;
    background-size: 400px;
    opacity: 0.2;
    pointer-events: none;
    z-index: -1;
  }
}
