:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
#root{
  height: 100%;
  display: grid;
  place-items:center;
}

body{
  height: 100%;
  width: 100%;
}

html{
  margin: 0;
  height: 100%;
  width: 100%;
}

